<div class="header">ABOUT ME</div>
<div class="borders">
    <p [hidden]="isEditing">Favorite Food: <span class="field">{{myFood}}</span></p>
    <p [hidden]="!isEditing">Favorite Food: <input [(ngModel)]="myFood"></p>

    <p [hidden]="isEditing">Favorite Pet:<span class="field">{{myPet}}</span></p>
    <p [hidden]="!isEditing">Favorite Pet: <input [(ngModel)]="myPet"></p>

    <p [hidden]="isEditing">Favorite Color:<span class="field">{{myColor}}</span></p>
    <p [hidden]="!isEditing">Favorite Color: <input [(ngModel)]="myColor"></p>

    <p [hidden]="isEditing">Zodiac Sign:<span class="field">{{myZodiac}}</span></p>
    <p [hidden]="!isEditing">Zodiac Sign: <input [(ngModel)]="myZodiac"></p>

    <p [hidden]="isEditing">Favorite Palindrome:<span class="field">{{myPalindrome}}</span></p>
    <p [hidden]="!isEditing">Favorite Palindrome: <input [(ngModel)]="myPalindrome"></p>

    <button (click)="updateRegisteredUser()" type="submit">OK</button>
    <button (click)="changeEditMode()" type ="submit">Update</button>
</div>