 * {
    font-family: Courier, monospace;
    font-weight: bold;

} 
div.header {
    margin-top: 2%;
    background-color: #AAAAAA;
    color: #000000;
    margin: auto;
    max-width: 26%;
    text-align: center;
}
div.box {
    background-color: #0000AA;
    width: 100%;
    margin:auto;
    margin-bottom: 16px;
    margin-top:16px;
}
div.borders {
    margin: auto;
    width: 25.7%;
    border-style: solid;
    border-color: #55FFFF;
    /* border-inline-color: #0000AA; */
    background-color: #0000AA;
    box-shadow: 8px 16px rgba(00,00,00,0.5);
    margin-bottom: 32px;
}
input {
    background-color: #55FFFF;
    color: #000000;
    margin-left: 8px;
    margin-bottom: 8px;
    border: none;
    float: right;
    width: 50%;
}
input:focus {
    background-color: #FFFF55;
    border: none;
}

div > p {
    background-color: #0000AA;
    color: #FFFFFF;
}
p {
    padding-left: 2%;
    padding-right: 2%;
}

button {
    margin: auto;
    /* width: 10%; */
    /* text-align: center; */
    position: relative;
    display: block;
    background-color: #AAAAAA;
    color: #AA0000;
    border: none;
    border-style:none;
}
button:focus {
    background-color: #555555;
    border: none;
    border-style: none;
}
.field {
    background-color: #0000AA;
    color: #55FFFF;
    /* text-align: right; */
    /* align-content: right; */
    width: 100%;
    /* justify-items: left; */
    /* display: block; */
    float: right;
}
html, body { 
    height: 100%; 
    margin: 0; font-family: monospace; 
}
body { 
    background-image: url("https://catcssp2imgbucket.s3.us-east-2.amazonaws.com/background.bmp");
    background-repeat: repeat;
}
