 * {
    font-family: Courier, monospace;
    font-weight: bold;

} 
div.header {
    margin-top: 2%;
    background-color: #AAAAAA;
    color: #000000;
    margin: auto;
    max-width: 26%;
    text-align: center;
}
div.box {
    background-color: #0000AA;
    width: 100%;
    margin:auto;
    margin-bottom: 16px;
    margin-top:16px;
}
div.borders {
    margin: auto;
    width: 25.7%;
    border-style: solid;
    border-color: #55FFFF;
    /* border-inline-color: #0000AA; */
    background-color: #0000AA;
    box-shadow: 8px 16px rgba(00,00,00,0.5);
    margin-bottom: 32px;
}
input {
    background-color: #55FFFF;
    color: #000000;
    margin-left: 8px;
    margin-bottom: 8px;
    border: none;
    float: right;
    width: 50%;
}
input:focus {
    background-color: #FFFF55;
    border: none;
    outline: none;
}

div > p {
    background-color: #0000AA;
    color: #FFFFFF;
}
p {
    padding-left: 2%;
    padding-right: 2%;
}

button {
    margin: auto;
    /* width: 10%; */
    /* text-align: center; */
    position: relative;
    display: block;
    background-color: #AAAAAA;
    color: #AA0000;
    border: none;
    border-style:none;
}
button:focus {
    background-color: #555555;
    border: none;
    border-style: none;
    outline: none;
}
.error {
    background-color: #AA0000;
    color: #FFFF55;
    animation: errorText 0.5s infinite;
}

@keyframes errorText {
    0% {color: #FFFF55} 
        /* background-color: #123456} */
        /* 2% {background-color: #654321}
        4% {background-color: #654123}
        6% {background-color: #615243}
        8% {background-color: #321555}
        10% {background-color: #FFFFFF}
        12% {background-color: #000000}
        14% {background-color: #123456}
        16% {background-color: #654321}
        18% {background-color: #321555}
        20% {background-color: #123456}
        22% {background-color: #654321}
        24% {background-color: #654123}
        26% {background-color: #615243}
        28% {background-color: #321555}
        30% {background-color: #FFFFFF}
        32% {background-color: #000000}
        34% {background-color: #123456}
        36% {background-color: #654321}
        38% {background-color: #321555}
        40% {background-color: #123456}
        42% {background-color: #000000}
        44% {background-color: #123456}
        46% {background-color: #654321}
        48% {background-color: #321555} */
    49% {color: #FFFF55 }
        /* 2% {background-color: #654321}
        4% {background-color: #654123}
        6% {background-color: #615243}
        8% {background-color: #321555}
        10% {background-color: #FFFFFF}
        12% {background-color: #000000}
        14% {background-color: #123456}
        16% {background-color: #654321}
        18% {background-color: #321555}
        20% {background-color: #123456}
        22% {background-color: #654321}
        24% {background-color: #654123}
        26% {background-color: #615243}
        28% {background-color: #321555}
        30% {background-color: #FFFFFF}
        32% {background-color: #000000}
        34% {background-color: #123456}
        36% {background-color: #654321}
        38% {background-color: #321555}
        40% {background-color: #123456}
        42% {background-color: #000000}
        44% {background-color: #123456}
        46% {background-color: #654321}
        48% {background-color: #321555} */
    50% { color: #AA0000 }
    /* 52% {background-color: #654321}
    54% {background-color: #654123}
    56% {background-color: #615243}
    58% {background-color: #321555}
    60% {background-color: #FFFFFF}
    62% {background-color: #000000}
    64% {background-color: #123456}
    66% {background-color: #654321}
    68% {background-color: #321555}
    70% {background-color: #123456}
    72% {background-color: #654321}
    74% {background-color: #654123}
    76% {background-color: #615243}
    78% {background-color: #321555}
    80% {background-color: #FFFFFF}
    82% {background-color: #000000}
    84% {background-color: #123456}
    86% {background-color: #654321}
    88% {background-color: #321555}
    90% {background-color: #123456}
    92% {background-color: #000000}
    94% {background-color: #123456}
    96% {background-color: #654321}
    98% {background-color: #321555} */
100% {color: #AA0000 }
}

.field {
    background-color: #0000AA;
    color: #55FFFF;
    /* text-align: right; */
    /* align-content: right; */
    width: 100%;
    /* justify-items: left; */
    /* display: block; */
    float: right;
}
html, body { 
    
    height: 100%; 
    margin: 0; font-family: monospace; 
}
body { 
    margin-top: 128px;
    background-image: url("https://catcssp2imgbucket.s3.us-east-2.amazonaws.com/background.bmp");
    background-repeat: repeat;
}
