<div class="header">REGISTER</div>
<div class="borders">
    <div class="box">
        <div>    <p>Password: <input type="text" name="regUserText" value="pAsSwOrD"></p></div>
        <div>    <p>Username: <input type="text" name="regUserText" value="UsErNaMe"></p></div>
        <div>    <p>Favorite Food: <input type="text" name="regUserText" value="fav food"></p></div>
        <div>    <p>Pet: <input type="text" name="regUserText" value="dog"></p></div>    
        <div>    <p>Favorite color: <input type="text" name="regUserText" value="-1"></p></div>
        <div>    <p>Zodiac Sign: <input type="text" name="regUserText" value="Chicken Broth"></p></div>
        <div>    <p>Favorite Palindrome: <input type="text" name="regUserText" value="racecar"></p></div>
    <button type="submit">OK</button>
</div>
</div>